body{
    margin: 0px;
    background-color: #F6F5F2;
}
.topnav{
    overflow: hidden;
    background-color: #0C1D28;
}
.topnav a{
list-style-type: none;
color: white;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
float: left;
font-size: clamp(1.25rem, 1.5vw, 2rem);
}
a:hover{
    background-color: #143043;
}
 @media (max-width: 480px) {
                   h1{
                   font-size: 10%;
                   }
               }
 @media (min-width: 500px) {
                   h1{
                   font-size: clamp(3rem, 5vw, 6rem);
                   }
               }
h1{
    text-align: center;
    
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 0.1;
    color: #BC4F4F;
}
h1{
    font-family: matemasie;
}
h2, h3, h4, a{
    font-family: limelight;
}
.image{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    font-size: clamp(1.25rem, 1.5vw, 2rem);
}
.contant{
    position: relative;
    text-align: center;
}
h2{
    background-color: #E4DDD8;
    padding: clamp(0.9rem, 1vw, 1rem);
    color: white;
}


h3{
    font-size: clamp(1.25rem, 1.5vw, 2rem);
    color: white;
}
h4{
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: white;
}
